<div class="wrap-header">
  <div class="adaptive_menu" [ngClass]="{active:showMenu}"></div>
  <div class="header_logo__title" [ngClass]="{active:showMenu}">
    <div class="header__logo">
      <img class="logo" src="../../assets/img/pizza.svg" alt="тщ">
    </div>
    <p>andy'z pizza </p>
  </div>

  <a *ngIf="this.service.isAdmin"  routerLink="/delivery">
    <div  class="nav">
      <div (click)="closeMenu()"  class="nav__item" [ngClass]="{active:showMenu}">
        <div class="nav__item-img">
          <img src="./assets/img/scooter.svg" alt="">
        </div>
        <div class="nav__item-title">
          <p>Delivery</p>
        </div>
      </div>
    </div>
  </a>

  <app-nav *ngFor="let iterItem of navItems" [closeMenu]="closeMenu" [navItem]="iterItem"
           [showNav]="showMenu"></app-nav>

  <!--<a (click)="logout()"  routerLink="/login">-->
    <div  (click)="logout()"  class="nav">
      <div (click)="closeMenu()"  class="nav__item" [ngClass]="{active:showMenu}">
        <div class="nav__item-img">
          <img src="./assets/img/enter.svg" alt="">
        </div>
        <div class="nav__item-title">
          <p *ngIf="!service.statusLogin">login</p>
          <p *ngIf="service.statusLogin">logout</p>

        </div>
      </div>
    </div>
<!--  </a>-->

  <div *ngIf="this.service.showCircle" class="redCircle"></div>
</div>
<div (click)="moveMenu()" class="menu__burger" [ngClass]="{active:showMenu}">
  <span></span>
</div>

<app-search *ngIf="service.showSearchInput"></app-search>

<app-slide-line></app-slide-line>







