<div   class="page-wrap">

  <mat-spinner  *ngIf="!showItem"></mat-spinner>


  <div  *ngIf="showItem" cdkDropListGroup>
    <div class="example-container ">
      <h2>To do</h2>
      <div
        cdkDropList id="todo"
        [cdkDropListData]="arrayOfOrders"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of arrayOfOrders" cdkDrag>

          <div class="wrap-data">
            <p class="number title">#{{item.id}}</p>


            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <p class="title">Address</p>
                </mat-panel-title>

              </mat-expansion-panel-header>
              <div class="address">
                <p> City:   {{item.city}}</p>
                <p *ngIf="item.street !== 'def'"> Street:   {{item.street}}</p>
                <p *ngIf="item.street !== 'def'">House number:   {{item.housenumber}}</p>
              </div>

            </mat-expansion-panel>


            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <p class="title">Contact information</p>
                </mat-panel-title>

              </mat-expansion-panel-header>
              <div>
                <p> Name: {{item.name}}</p>
                <p>Phone: {{item.phone}}</p>
              </div>

              <p *ngIf='item.comment!=="" ' class="title">Comment</p>
              <p>{{item.comment}}</p>
            </mat-expansion-panel>


            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <p class="title">Product</p>
                </mat-panel-title>

              </mat-expansion-panel-header>
              <div class="title-count">
                <p>Title</p>
                <p>Count</p>
              </div>
              <div class="product" *ngFor="let product of item.product">
                <p>{{product.title}}</p>
                <p> {{product.count}}</p>
              </div>
            </mat-expansion-panel>


            <div class="totalPrice  ">
              {{item.price}}UAH
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="example-container">
      <h2 class="header-inProgress">In process</h2>
      <div
        cdkDropList id="inprogress"
        [cdkDropListData]="arrayOfOrdersInProgress"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box inProgress" *ngFor="let item of arrayOfOrdersInProgress" cdkDrag>
          <div class="wrap-data">
            <p class="number title-InProgress">#{{item.id}}</p>


            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <p class="title-InProgress">Address</p>
                </mat-panel-title>

              </mat-expansion-panel-header>
              <div class="address">
                <p> City:   {{item.city}}</p>
                <p *ngIf="item.street !== 'def'"> Street:   {{item.street}}</p>
                <p *ngIf="item.street !== 'def'">House number:   {{item.housenumber}}</p>
              </div>

            </mat-expansion-panel>

            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <p class="title-InProgress">Contact information</p>
                </mat-panel-title>

              </mat-expansion-panel-header>
              <div>
                <p> Name: {{item.name}}</p>
                <p>Phone: {{item.phone}}</p>
              </div>

              <p *ngIf='item.comment!=="" ' class="title-InProgress">Comment</p>
              <p>{{item.comment}}</p>
            </mat-expansion-panel>


            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <p class="title-InProgress">Product</p>
                </mat-panel-title>

              </mat-expansion-panel-header>
              <div class="title-count">
                <p>Title</p>
                <p>Count</p>
              </div>
              <div class="product" *ngFor="let product of item.product">
                <p>{{product.title}}</p>
                <p> {{product.count}}</p>
              </div>
            </mat-expansion-panel>

            <div class="totalPrice price-inProgress title-InProgress ">
              {{item.price}}UAH
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="example-container">
      <h2 class="header-done">Done</h2>

      <div
        cdkDropList
        [cdkDropListData]="arrayOfOrdersDone"
        class="example-list"
        id="done"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box done" *ngFor="let item of arrayOfOrdersDone" cdkDrag>
          <div class="wrap-data">
            <p class="number title-done">#{{item.id}}</p>



            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <p class="title-done">Address</p>
                </mat-panel-title>

              </mat-expansion-panel-header>
              <div class="address">
                <p> City:   {{item.city}}</p>
                <p *ngIf="item.street !== 'def'"> Street:   {{item.street}}</p>
                <p *ngIf="item.street !== 'def'">House number:   {{item.housenumber}}</p>
              </div>

            </mat-expansion-panel>

            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <p class="title-done">Contact information</p>
                </mat-panel-title>

              </mat-expansion-panel-header>
              <div>
                <p> Name: {{item.name}}</p>
                <p>Phone: {{item.phone}}</p>
              </div>

              <p *ngIf='item.comment!=="" ' class="title-done">Comment</p>
              <p>{{item.comment}}</p>
            </mat-expansion-panel>


            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <p class="title-done">Product</p>
                </mat-panel-title>

              </mat-expansion-panel-header>
              <div class="title-count">
                <p>Title</p>
                <p>Count</p>
              </div>
              <div class="product" *ngFor="let product of item.product">
                <p>{{product.title}}</p>
                <p> {{product.count}}</p>
              </div>
            </mat-expansion-panel>

            <div class="totalPrice price-done  ">
              {{item.price}}UAH
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
