<div class="content">
  <p class="title-basket">basket</p>
  <div class="wrap-content">
    <div class="wrap-content__title">
      <div class="title-product"><p>Product</p></div>
      <div class="title_money">
        <div class="title-price">Price</div>
        <div class="title-amount">Count</div>
        <div class="title-total">Total</div>
      </div>
    </div>
    <div class="wrap-content__body">
      <app-card-basket [ifExitOrder]="this.ifExitOrder" (getIfExitOrderStatusChange)="elementDelete1($event)"
                       (getOrderArrayStatusChange)="elementDelete($event)"
                       (getTotalPriceStatusChange)="changeTotalPrice($event)" [changeCounts]="changeCounts"
                       [totalPrice]="this.totalPrice"
                       *ngFor="let order of orderArray" [orderArray]="orderArray" [order]="order"></app-card-basket>
    </div>
    <div class="total">
      <div class="total__item" *ngIf="ifExitOrder; else unset ">Total:
        <div class="found-order">{{totalPrice}}</div>
      </div>
      <ng-template #unset><p class="not-found-order">The cart is empty.</p></ng-template>
    </div>
  </div>

  <div *ngIf="ifExitOrder " class="choose-method">
    <p class="choose-method__title">Choose the delivery method</p>
    <div class="wrap__item">
      <div (click)="setDelivery()" class="choose-method__item">
        <div class="circle">
          <div *ngIf="delivery" class="circle__fill"></div>
        </div>
        <p>Delivery</p>
      </div>
      <div (click)="setPickup()" class="choose-method__item">
        <div class="circle">
          <div *ngIf="pickup" class="circle__fill"></div>
        </div>
        <p>Pickup</p>
      </div>
    </div>
  </div>

  <div *ngIf="ifExitOrder " class="create-order">
    <form [formGroup]="orderForm" class="wrap-form" (ngSubmit)='onSubmit()'>

      <div *ngIf="name.invalid && name.touched" class="validateName">
        <div *ngIf="name.errors?.required">
          Name is required.
        </div>
        <div *ngIf="name.errors?.minlength">
          Name must be at least 4 characters long.
        </div>
      </div>

      <input
        onkeypress="return (event.charCode >=65  && event.charCode <=90 || (event.charCode >= 95 && event.charCode <= 122) ||
         (event.charCode >=1000 && event.charCode <= 1100) )"
        [ngClass]="{inputValidate: name.invalid &&(name.touched)}" name="name" id="name" maxlength="45"
        placeholder="Your name"
        formControlName="name" type="text">


      <div *ngIf="phoneNumber.invalid && phoneNumber.touched" class="validateName">
        <div *ngIf="phoneNumber.errors?.required">
          Phone is required.
        </div>
        <div *ngIf="phoneNumber.errors?.minlength">
          Phone must have 10 numbers
        </div>
      </div>

      <input
        onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))"
        [ngClass]="{inputValidate: phoneNumber.invalid &&(phoneNumber.touched)}"
        maxlength="10"
        placeholder="Your phone number" formControlName="phoneNumber" type=”number”>

      <textarea placeholder="Comments" formControlName="comment" type="text">
        </textarea>
      <div *ngIf="delivery" class="block-address" formGroupName="address">

        <select formControlName="city" name="" id="">
          <option *ngFor="let city of arrayOfCity;">
            {{city}}
          </option>
        </select>

        <input [ngClass]="{inputValidate: street.invalid &&(street.touched)}" placeholder="street"
               formControlName="street" type="text" maxlength="42">

        <input [ngClass]="{inputValidate: houseNumber.invalid &&(houseNumber.touched)}"
               placeholder="House number" formControlName="houseNumber" type="text" maxlength="4">

        <div *ngIf="houseNumber.invalid && houseNumber.touched" class="validateAddress">
          <div *ngIf="houseNumber.errors?.required">
            House number is required.
          </div>
        </div>
      </div>
      <div *ngIf="ifExitOrder " class="button-make-order">
        <div class="button-wrapper " [ngClass]="{buttonHover: orderForm.valid }">
          <button class="button" [ngClass]="{button2: orderForm.valid}" type="submit" [disabled]="!orderForm.valid">Make
            an order
          </button>
        </div>
      </div>
    </form>

  </div>


</div>


