.redCircle{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: brown;
  position: absolute;
  right: 10px;
  top: 15px;
  z-index: 20;
}

.app-wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;

}

.app-wrapper__content{
  flex: 1 1 auto;
}

.footer{
  z-index: 2;

}

